.container {
    position: fixed;
    color: black;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.stop {
    position: absolute;
    color: purple;
}

.centered {
    position: absolute;
    font-size: 100px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-in {
    /* position: fixed; */
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.flag {
    opacity: 1;
}