* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: linear-gradient(to left, lightblue, orange);
  overflow: hidden;
  display: grid;
  grid-template-columns: 3% 1fr 1fr 1fr 1fr 3%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}

.backgroundColor {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, lightblue, orange);
  z-index: -1;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  margin-top: 10%;
  height: 60%;
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}

.grid {
  display: flex;
}
.from-left {
  flex: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  flex: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}
.from-right {
  transition: opacity 300ms ease-in, -webkit-transform 800ms ease-in;
  transition: opacity 300ms ease-in, transform 800ms ease-in;
  transition: opacity 300ms ease-in, transform 800ms ease-in,
    -webkit-transform 800ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

p {
  padding: 5%;
}
