<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/" class="site-logo" aria-label="homepage" style="font-size: 200%">HYP</a
      >
        <nav class="main-nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="/badminton" class="nav__link">Badminton</a>
        </li>
        <li class="nav__list-item">
            <a href="/basketball" class="nav__link">Basketball</a>
        </li>
        <li class="nav__list-item">
            <a href="/football" class="nav__link">Football</a>
        </li>
        <li class="nav__list-item">
            <a href="/tennis" class="nav__link">Tennis</a>
        </li>
        </ul>
        </nav>

        <!-- ACCOUNT PLACEHOLDER -->
        <div id="acc-placeholder"></div>
    </header>
    <main>
        <section class="home-intro">
            <h1>Lets Learn About Sports!</h1>
        </section>

        <div class="home-about">
            <h2>FAQs</h2>
            <p class="col fade-in">Frequently Asked Questions:</p>
            <div class="columns">
                <div class="col fade-in">
                    <h3>How do you access the sport pages?</h3>
                    <p>
                        You must first <a href="/register">create an account</a> and <a href="/login">log in</a> to access the sports pages and like sports.
                        <br />
                        <br />

                    </p>
                </div>
            </div>

            <h2>About us</h2>
            <p class="col fade-in">Our development team:</p>
            <div class="columns">
                <div class="col fade-in">
                    <h3>Hanyi Liu</h3>
                    <h4>Webmaster</h4>
                    <p>
                        As an American High School Junior, he is a full-time student and is the webmaster of this informative project. Responsible for quality control, testing changes, and backend coding.
                        <br />
                        <h4>Contact: hanliu931@fusdk12.net</h4>
                    </p>
                </div>
                <div class="col fade-in">
                    <h3>Yen-Lin Lee</h3>
                    <h4>Database Specialist</h4>
                    <p>
                        As an American High School Junior, he is a full-time student and is the database specialist of this informative project. Responsible for HTML files and as well as the animation coding.
                        <br />
                        <h4>Contact: yenlee027@fusdk12.net</h4>
                    </p>
                </div>
                <div class="col fade-in">
                    <h3>Pengbo Wang</h3>
                    <h4>Content Specialist</h4>
                    <p>
                        As an American High School Junior, he is a full-time student and is the content specialist of this informative project. Responsible for research and credibility of the information displayed.
                        <br />
                        <h4>Contact: penwan356@fusdk12.net</h4>
                    </p>
                </div>
            </div>

        </div>

        <div class="home-more-stuff">
            <div class="more-stuff-grid">
                <img src="/src/badminton.jpg" alt="" class="slide-in from-left" />
                <p class="slide-in from-right">
                    Single or duo team sport where the teams try to make the shuttlecock land on the ground on the other team’s side of the net.
                    <br />
                    <a href="/badminton">
                        <span class="button_slide slide_left badminton">Badminton</span>
                    </a>
                </p>
            </div>
            <div class="more-stuff-grid">
                <p class="slide-in from-left">
                    Competitive team sport where each team try to advance the ball and shoot into the opponent’s basket to score points.
                    <br />
                    <a href="/basketball">
                        <span class="button_slide slide_left basketball">Basketball</span>
                    </a>
                </p>
                <img src="https://s.yimg.com/ny/api/res/1.2/yPt6Ybw31C11d1B6sWBWaw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA-/https://s.yimg.com/os/creatr-images/2020-05/b9b27b40-9547-11ea-b5fb-0e86f7a8e4ad" alt="" class="slide-in from-right" />
            </div>
            <div class="more-stuff-grid">
                <img src="https://d32ydbgkw6ghe6.cloudfront.net/production/uploads/cover_images/cd7649aa83e0c54a435b5ac1d7e7330bd386/i1080x475.jpg" alt="" class="slide-in from-left" />
                <p class="slide-in from-right">
                    Competitive team sport that each team tries to advance the ball into the opponents’ end zone.
                    <a href="/football">
                        <span class="button_slide slide_left football">Football</span>
                    </a>
                </p>
            </div>
            <div class="more-stuff-grid">
                <p class="slide-in from-left">
                    Racket sport where the players try to hit a tennis ball over the net into the opponent’s court without the opponent being able to return the ball back.
                    <br />
                    <a href="/tennis">
                        <span class="button_slide slide_left tennis">Tennis</span>
                    </a>
                </p>
                <img src="https://photoresources.wtatennis.com/photo-resources/2019/08/15/dbb59626-9254-4426-915e-57397b6d6635/tennis-origins-e1444901660593.jpg?width=1200&height=630" alt="" class="slide-in from-right" />
            </div>
            <p></p>
        </div>
    </main>

    <script src="//code.jquery.com/jquery.min.js"></script>
</body>

<style>
    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
    }
    
    .site-logo {
        font-weight: 900;
        font-size: 0.8rem;
        color: var(--text);
        text-decoration: none;
    }
    
    header {
        --text: #f4f4f4;
        --text-inverse: #333;
        --background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 3em;
        transition: background 250ms ease-in;
        background: var(--background);
        color: var(--text);
    }
    
    .nav__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .nav__link {
        --spacing: 1em;
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding: calc(var(--spacing) / 2) var(--spacing);
        position: relative;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.9rem;
    }
    
    .nav__link:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: var(--spacing);
        right: var(--spacing);
        height: 2px;
        background: currentColor;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    }
    
    .nav__link:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    .nav__link--btn {
        border: 1.5px solid currentColor;
        border-radius: 2em;
        margin-left: 1em;
        transition: background 250ms ease-in-out;
        letter-spacing: 1px;
        padding: 0.75em 1.5em;
    }
    
    .nav__link--btn:hover {
        background: var(--text);
        color: var(--text-inverse);
        border-color: var(--text);
    }
    
    .nav__link--btn::after {
        display: none;
    }
    
    .nav__link--btn--highlight {
        background: limegreen;
        border-color: limegreen;
        color: #333;
    }
    
    .nav__link--btn--highlight:hover {
        background: var(--text);
        border-color: var(--text);
    }
    
    .nav-scrolled {
        --text: #333;
        --text-inverse: #f4f4f4;
        --background: #f4f4f4;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    }
    
    .home-intro {
        padding: 50vh 0;
        background: #123 url(https://www.otacfitness.com/wp-content/uploads/2018/08/Sports-and-Athletes-Website-Header.png);
        background-size: cover;
        background-blend-mode: multiply;
        color: white;
        text-align: center;
    }
    
    .home-about {
        padding: 4em 0;
        max-width: 900px;
        margin: 0 auto;
    }
    
    .columns {
        display: flex;
    }
    
    .col+.col {
        margin-left: 1.5em;
    }
    
    .fade-in {
        opacity: 0;
        transition: opacity 250ms ease-in;
    }
    
    .fade-in.appear {
        opacity: 1;
    }
    
    .more-stuff-grid {
        background: #f4f4f4;
        padding: 4em 0;
        display: grid;
        grid-gap: 2em;
        align-items: center;
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax( 1em, 1fr);
    }
    
    .from-left {
        grid-column: 2 / 3;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
    .from-right {
        grid-column: 3 / 4;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    
    .from-left,
    .from-right {
        transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
        opacity: 0;
    }
    
    .from-left.appear,
    .from-right.appear {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    
    span {
        font-size: 120%;
        font-weight: bold;
    }
    
    img {
        height: 130%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    
    .button_slide {
        color: black;
        border-radius: 0px;
        padding: 18px 36px;
        display: inline-block;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
        margin-top: 10%;
    }
    
    .badminton {
        border: 2px solid rgb(22, 97, 82);
        box-shadow: inset 0 0 0 0 rgb(22, 97, 82);
    }
    
    .badminton:hover {
        box-shadow: inset 0 0 0 100px rgb(22, 97, 82);
    }
    
    .basketball {
        border: 2px solid orange;
        box-shadow: inset 0 0 0 0 orange;
    }
    
    .basketball:hover {
        box-shadow: inset 0 0 0 100px orange;
    }
    
    .football {
        border: 2px solid rgb(221, 86, 86);
        box-shadow: inset 0 0 0 0 rgb(221, 86, 86);
    }
    
    .football:hover {
        box-shadow: inset 0 0 0 100px rgb(221, 86, 86);
    }
    
    .tennis {
        border: 2px solid lightgreen;
        box-shadow: inset 0 0 0 0 lightgreen;
    }
    
    .tennis:hover {
        box-shadow: inset 0 0 0 100px lightgreen;
    }
</style>

<script>
    const header = document.querySelector("header");
    const sectionOne = document.querySelector(".home-intro");

    const faders = document.querySelectorAll(".fade-in");
    const sliders = document.querySelectorAll(".slide-in");

    console.log("yes wtf");
    $.get("nav.html", function(data) {
        $("#nav-placeholder").replaceWith(data);
    });

    console.log("NAV");
    $.get("status.html", function(data) {
        $("#acc-placeholder").replaceWith(data);
    });

    const sectionOneOptions = {
        rootMargin: "-200px 0px 0px 0px",
    };

    const sectionOneObserver = new IntersectionObserver(function(
            entries,
            sectionOneObserver
        ) {
            entries.forEach((entry) => {
                if (!entry.isIntersecting) {
                    header.classList.add("nav-scrolled");
                } else {
                    header.classList.remove("nav-scrolled");
                }
            });
        },
        sectionOneOptions);

    sectionOneObserver.observe(sectionOne);

    const appearOptions = {
        threshold: 0,
        rootMargin: "0px 0px -250px 0px",
    };

    const appearOnScroll = new IntersectionObserver(function(
            entries,
            appearOnScroll
        ) {
            entries.forEach((entry) => {
                if (!entry.isIntersecting) {
                    return;
                } else {
                    entry.target.classList.add("appear");
                    appearOnScroll.unobserve(entry.target);
                }
            });
        },
        appearOptions);

    faders.forEach((fader) => {
        appearOnScroll.observe(fader);
    });

    sliders.forEach((slider) => {
        appearOnScroll.observe(slider);
    });
</script>

</html>