<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aldi Duzha" />
    <meta name="description" content="Free Bulma Login Template, part of Awesome Bulma Templates" />
    <meta name="keywords" content="bulma, login, page, website, template, free, awesome" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box" style="opacity: 1">
                        <p class="subtitle is-4">Sign Up</p>
                        <br />
                        <form action="/registerNew" method="post">
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input is-medium" type="text" id="username" name="username" placeholder="Username" />
                                    <span class="icon is-medium is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                                    <span class="icon is-medium is-right">
                      <i class="fas fa-check"></i>
                    </span>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input is-medium" type="text" id="password" name="password" placeholder="Password" />
                                    <span class="icon is-small is-left">
                                        
                        <i class="fas fa-lock"></i>
                    </span>

                                    </span>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input is-medium" type="password" placeholder="Confirm Password" />
                                    <span class="icon is-small is-left">
                        
                        <i class="fas fa-lock"></i>
                    </span>

                            </div>


                            <button class="button is-block is-info is-large is-fullwidth">Register</button><br />

                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/login">Login</a> &nbsp;·&nbsp; <a href="#">Forgot Password</a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

<style>
    html,
    body {
        font-family: 'Quicksand', serif;
        font-size: 14px;
        font-weight: 300;
    }
    
    html {
        overflow-y: hidden !important;
        background-image: url('/src/background.jpg') !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .hero.is-success {
        background: #f2f6fa;
    }
    
    .hero .nav,
    .hero.is-success .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .box {
        margin-top: 5rem;
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    input {
        font-weight: 300;
    }
    
    p {
        font-weight: 700;
    }
    
    p.subtitle {
        padding-top: 1rem;
    }
    
    a {
        color: #fff;
    }
    
    a:hover {
        color: #bababa;
    }
    
    .languages {
        margin-top: 10px;
    }
    
    .footer-text {
        font-weight: initial;
    }
</style>

</html>