<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badminton</title>
    <link rel="stylesheet" href="sports/badminton/style.css">
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NAVBAR PLACEHOLDER -->
    <div id="nav-placeholder"></div>
    <section>
        <div class="hero">
            <img src="/src/badminton.jpg" alt="" />
            <h1 class="headline">Badminton</h1>
            <!--like button-->
            <h6>
                <button onclick="Toggle1()" id="btnh1" class="botton">
        <i class="fas fa-heart"></i>
      </button>
                <script>
                    var btnvar1 = document.getElementById("btnh1");

                    function Toggle1() {
                        if (btnvar1.style.color == "red") {
                            btnvar1.style.color = "grey";
                        } else {
                            btnvar1.style.color = "red";
                        }
                    }
                </script>
            </h6>
            <h2 class="likes"># of like</h2>
        </div>
    </section>
    </header>
    <div class="backgroundColor"></div>
    <!--content1-->
    <div class="grid" style="border-top: 0px; margin-top: 11%">
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Badminton_court_3d_small.png" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Brief Description of Sport</span> Badminton is an indoor sport that is played on a rectangular court measuring 44 feet x 17 feet (13.4 x 5.18 meters) for a singles match which is one player per side. And the court for doubles (two players
            per side) is 44 feet x 20 feet (13.4 x 6.1 meters).
        </p>
    </div>
    <!--content2-->
    <div class="grid">
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>The Goal of Sport</span> The goal of the sport is to try to hit the shuttlecock to the ground on the other side of the net while trying to keep the shuttlecock from landing on your side of the court.
        </p>
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://blog.playo.co/wp-content/uploads/2018/12/970a69bbe6e6f6b1b425fc97719c5d240de9b19b.jpg" alt="images">
        </p>
    </div>
    <!--content3-->
    <div class="grid">
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://previews.123rf.com/images/chotwitnote/chotwitnote1711/chotwitnote171100707/91375017-a-vector-set-of-badminton-equipment.jpg" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Equipment</span> There is not a lot of equipment needed for badminton. Basic equipment is a racquet, shuttlecock, badminton shoes. Also, of course, an indoor court. The net of the court is about 5 feet (1.5 meters) and stretches across
            the center of the court.
        </p>
    </div>
    <!--content4-->
    <div class="grid">
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Rules</span> No players are allowed to touch the net with their body or their racquet at any time. The shuttlecock should not hit the floor. The shuttlecock should not come to rest on any player’s racket at any time. The shuttlecock
            should not land outside the boundary lines of the court. The shuttlecock should not hit the ceiling. When serving, the shuttlecock should be hit from below the waist. The team receiving the service should not touch the lines on the court before
            the server has hit the shuttlecock.
        </p>
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://open.online.uga.edu/app/uploads/sites/20/2018/05/Singles-and-Doubles-Badminton.png" alt="images">
        </p>
    </div>
    <!--content5-->
    <div class="grid">
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://img.olympicchannel.com/images/image/private/t_16-9_360-203_2x/f_auto/v1538355600/primary/lgtkfmwfbvpdwkguvmd7" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>How to Win</span> A point is scored when the shuttlecock hits the floor on the opponent’s side regardless of who is serving. The first team to reach 21 points wins the game. However, the winning team must win by two points. In the case
            of a tie at 20 points, the first team to score two additional points is the winner. The first team to reach 30 points is the winner, no matter what the other team has scored. First team to win two out of three games wins the match.
        </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="sports/badminton/app.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="nav.html"></script>
</body>

<script>
    console.log("yes wtf");
    $.get("nav.html", function(data) {
        $("#nav-placeholder").replaceWith(data);
    });
</script>

</html>