<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football</title>
    <link rel="stylesheet" href="sports/football/style.css" />
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NAVBAR PLACEHOLDER -->
    <div id="nav-placeholder"></div>
    <section>
        <div class="hero">
            <img src="https://d32ydbgkw6ghe6.cloudfront.net/production/uploads/cover_images/cd7649aa83e0c54a435b5ac1d7e7330bd386/i1080x475.jpg" alt="" />
            <h1 class="headline">Football</h1>
            <!--like button-->
            <h6>
                <button onclick="Toggle1()" id="btnh1" class="botton">
        <i class="fas fa-heart"></i>
      </button>
                <script>
                    var btnvar1 = document.getElementById("btnh1");

                    function Toggle1() {
                        if (btnvar1.style.color == "red") {
                            btnvar1.style.color = "grey";
                        } else {
                            btnvar1.style.color = "red";
                        }
                    }
                </script>
            </h6>
            <h2 class="likes"># of like</h2>
        </div>
    </section>
    </header>
    <div class="backgroundColor"></div>
    <!--content1-->
    <div class="grid" style="margin-top: 11%">
        <p class="from-left sliders title" style="background-color: rgb(221, 86, 86)">
            <br>
            <img class='images' src="https://www.history.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTgyODAxOTQ1NzM4NjE4Mjc1/whoinventedfootball.jpg" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Brief Description of Sport</span> American football is known in the United States and Canada only. Oftentimes confused with soccer which many other countries also call football. American football is a competitive team sport where the
            goal of the game is to score points by advancing the football into the opposing team’s end zone.
        </p>
    </div>
    <!--content2-->
    <div class="grid">
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>The Goal of Sport</span> The goal of the sport is to score points by advancing the football into the opposing team’s end zone. It can be advanced by carrying the ball, or by throwing or handing it from one teammate to the other.
        </p>
        <p class="from-left sliders title" style="background-color: rgb(221, 86, 86);">
            <br>
            <img class='images' src="https://www.tutorialspoint.com/american_football/images/ball.jpg" alt="images">
        </p>
    </div>
    <!--content3-->
    <div class="grid">
        <p class="from-left sliders title" style="background-color: rgb(221, 86, 86);">
            <br>
            <img class='images' src="https://staticg.sportskeeda.com/wp-content/uploads/2014/03/02-starter-set-315-2123931.jpg" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Equipment</span> Some basic equipment worn by most football players can include helmet, shoulder pads, gloves, shoes, and thigh and knee pads, a mouthguard, and a jockstrap or compression shorts with or without a protective cup.
        </p>
    </div>
    <!--content4-->
    <div class="grid">
        <p class="from-left sliders layout" style="background-color: white black">
            <span>Rules</span> American football is played on a rectangular field that is 120 yards long and 53 ⅓ yards wide. Each team has 11 players on the field at a time. But teams can substitute for any or all of their players. The teams are divided
            into three roles: the offense, the defense and the special teams. A standard football game is made up of four 15-minute quarters; with a half-time intermission after the second quarter. If the offense fails to gain a first down (10 yards)
            after 4 downs, the team would lose possession of the ball. There are two ways to advance the ball: rushing and by throwing to the ball to a teammate. The offense team has possession of the ball if the team with the ball gets the ball stolen,
            lost a point, or goes out of bounds.

        </p>
        <p class="from-left sliders title" style="background-color: rgb(221, 86, 86);">
            <br>
            <img class='images' src="https://i.ytimg.com/vi/CfuH9N_67Pk/maxresdefault.jpg" alt="images">
        </p>
    </div>
    <!--content5-->
    <div class="grid">
        <p class="from-left sliders title" style="background-color: rgb(221, 86, 86);">
            <br>
            <img class='images' src="https://media.istockphoto.com/photos/victory-on-american-football-match-picture-id1163306661?k=20&m=1163306661&s=612x612&w=0&h=Q7dv10VN8LD8W8PT12TyyQjorb6WiBhlfA_qs8SJoFs=" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>How to win</span> 1. A touchdown is worth 6 points. It is scored when a player runs the ball into or catches a pass in his opponent’s end zone. After a touchdown, the scoring team attempts a conversion. The ball is placed at the other
            team’s 2-yard line. The team then can attempt to kick it over the crossbar and through the goal post in the manner of a field goal for 1 extra point. Or they can run or pass it into the end zone in the manner of a touchdown for 2.
            <br> 2. A field goal is worth 3 points, and it is scored by kicking the ball over the crossbar and through the goalposts.
            <br> 3. A safety is worth 2 points. It is scored by the defense when the offensive player in the possession of the ball is forced back into his own end zone and is tackled there, fumbles the ball out of the end zone, or commits intentional
            grounding in the end zone.
        </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="sports/football/app.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="navbar.js"></script>
</body>

<script>
    console.log("yes wtf");
    $.get("nav.html", function(data) {
        $("#nav-placeholder").replaceWith(data);
    });
</script>

</html>