<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tennis</title>
    <link rel="stylesheet" href="sports/tennis/style.css">
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NAVBAR PLACEHOLDER -->
    <div id="nav-placeholder"></div>
    <section>
        <div class="hero">
            <img src="https://photoresources.wtatennis.com/photo-resources/2019/08/15/dbb59626-9254-4426-915e-57397b6d6635/tennis-origins-e1444901660593.jpg?width=1200&height=630" alt="" />
            <h1 class="headline">Tennis</h1>
            <!--like button-->
            <link rel="stylesheet" href="like.css">
            <h6>
                <!-- <link rel="stylesheet" href="like.css"> -->
                <form action="/like" method="post" name="like" id="like" style="z-index:1">
                    <input type="hidden" id="id" name="id" value="1">
                    <button onclick="Toggle1()" id="btnh1" class="botton">
                                    <i class="fas fa-heart"></i>
                                </button>

                    <script>
                        console.log("hi")

                        let sport = 4; //CHANGE THIS TOO

                        let likeResponse = fetch("/likeJSON", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(res => {
                            console.log("LMAO");
                            console.log(res.json().then(function(result) {
                                console.log(result);
                                let likes = result.likes;
                                console.log("likes: " + likes)
                                var btnvar1 = document.getElementById("btnh1");
                                if (likes.charAt(sport - 1) == "1") {
                                    btnvar1.style.color = "red";
                                } else {
                                    btnvar1.style.color = "gray";
                                }
                            }));
                            //console.log(res.json())

                            //console.log("Request complete! response:", JSON.parse(res.body).likes);

                        });

                        function Toggle1() {
                            var btnvar1 = document.getElementById("btnh1");
                            console.log(btnvar1.style.color);
                            console.log("yesss")
                            let likeNumber = document.getElementById("numberOfLikes");
                            let numberString = likeNumber.textContent;
                            var number;

                            if (btnvar1.style.color == "red") { //UNLIKE
                                document.like.action = "/unlike";
                                number = parseInt(numberString.substring(0, numberString.indexOf(" "))) - 1;
                                btnvar1.style.color = "grey";
                            } else { //LIKE
                                document.like.action = "/like";
                                number = parseInt(numberString.substring(0, numberString.indexOf(" "))) + 1;
                                btnvar1.style.color = "red";
                            }
                            //ADD check for plurality
                            if (number == 1) {
                                likeNumber.textContent = number + " like";
                            } else {
                                likeNumber.textContent = number + " likes";
                            }

                        }
                    </script>
                </form>

            </h6>
            <h2 class="likes" id="numberOfLikes"></h2>
            <script>
                let data = {
                    sport: 4 //CHANGE THIS
                };



                let response = fetch("/getLikes", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(res => {

                    console.log(res.json().then(function(result) {
                        if (result.likes == 1) {
                            document.getElementById("numberOfLikes").textContent = result.likes + " like";
                        } else {
                            document.getElementById("numberOfLikes").textContent = result.likes + " likes";
                        }
                    }));
                    //console.log(res.json())

                    //console.log("Request complete! response:", JSON.parse(res.body).likes);
                });
                // console.log("NO: " + JSON.parse(response));
                console.log("YES: " + response);
            </script>
            <!-- END LIKE BUTTON -->
        </div>
    </section>
    </header>
    <div class="backgroundColor"></div>
    <!--content1-->
    <div class="grid" style="margin-top: 11%">
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://fourminutebooks.com/wp-content/uploads/2018/09/the-inner-game-of-tennis-summary.png" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Brief Description of Sport</span> Tennis is a game in which two opposing players or a pair of players use a strung racket to hit a ball of specific size, weight, and bounce over a net on a rectangular court. Points are awarded to the
            player or pair whenever the opponent fails to return the ball correctly within the prescribed dimensions of the court. Tennis is organized by the International Tennis Federation (ITF).
        </p>
    </div>
    <!--content2-->
    <div class="grid">
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>The Goal of Sport</span> The goal of tennis is to win enough points to win a game, enough games to win a set, and enough sets to win a match.
        </p>
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://www.ussportscamps.com/media/legacy/Nike-Tennis-Camp-Stanford-1620.jpg" alt="images">
        </p>
    </div>
    <!--content3-->
    <div class="grid">
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://www.bestracket.com/wp-content/uploads/2020/11/tennis-equipment-tennis-cap-tennis-racket-tennis-shoes-tennis-balls.-scaled-e1604522725324.jpg" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Equipment</span> The only equipments needed for tennis is a tennis racket, tennis shoes, a tennis ball, and a tennis court with a regulation net. The racket head and grip should be the right size and weight that matches your skill level.
        </p>
    </div>
    <!--content4-->
    <div class="grid">
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>Rules</span> 1. A ball must land within bounds for the play to continue, if out of bounds, the opponent gains a point.<br> 2. Players/ teams can not touch the net or cross the net during a game.<br> 3. Players Teams can not carry the
            ball or catch it with the racket.<br> 4. Players can not hit the ball twice.<br> 5. The ball can not bounce twice before a return.<br> 6. The ball can not hit or touch the players<br> 7. Racket can not leave hand or any verbal abuse is not
            allowed.
            <br> 8. Serve must bounce first before the other player can return it.<br>
        </p>
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="https://thebridge.in/h-upload/2021/06/16/7833-regulation-tennis-court-sizepng.webp" alt="images">
        </p>
    </div>
    <!--content5-->
    <div class="grid">
        <p class="from-left sliders title" style="background-color: rgb(22, 97, 82);">
            <br>
            <img class='images' src="http://tennis-open.net/wp-content/uploads/2018/01/how-to-win-a-tennis-match-1.jpg" alt="images">
        </p>
        <p class="from-left sliders layout" style="background-color: white; color: black">
            <span>How to Win</span> Tennis matches work in three phases, a game, a set and a match. A game is played until a player scores four points. A set is a collection of games, played until a player wins six games. A match is played to a best of
            three or five sets. Championship matches are usually played in five sets.
        </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="sports/tennis/app.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="navbar.js"></script>
</body>

<script>
    console.log("yes wtf");
    $.get("nav.html", function(data) {
        $("#nav-placeholder").replaceWith(data);
    });
</script>

</html>